
#mainwrapper {
  margin:0px auto;
  background:#fff url(../images/background3.png) repeat-x 0 0;
  width:100%;
  overflow:hidden;
}
p {
  margin: 0 0 10px 0;
  clear:both;
  text-align:left;
  font-size:13px;
}
ol {
    list-style-type: decimal;
    list-style-position:inside;
    color:#000;
}
ul {
    list-style-type: disc;
    list-style-position:inside;
    color:#000;
}


ul li {
    list-style-type: disc;
    color:#000;
    list-style-position:inside;
}
fieldset {
    border: 1px solid silver;
    margin: 0 0 1.2em;
    padding: 0.6em 2%;
    color:#222;
}
.form-item input, .form-item select, .form-item textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    font-size: 13px;
    line-height: 1.2em;
    padding: 0;
    width: 100%;
}
.form-item input.form-text, .form-item select {
    padding: 3px 1%;
    width: 98%;
}
form input.form-submit {
    color: #2E2E2E;
    margin-top: 6px;
    width: auto;
    padding:3px;
    cursor:pointer;
}
form:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
form {
    margin-bottom: 1.2em;
}
table {
    border-collapse: collapse;
}

.form-item .description {
    color: #fff;
    font-size: 0.8em;
    font-style: italic;
    padding: 0.4em 0 0;
}
label {
    display: block;
    font-weight: normal;
    color:#222;
}
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}
h1, h2, h3, h4, h5, h6 {
  color:#000;
  margin-bottom:10px;
}
h1 {
  font-size: 3em;
  letter-spacing:-1px;
}
h1.title {
  font-size: 3em;
  letter-spacing:-1px;
}

h2 {
  font-size: 2em;
}
h2.block-title {
  color:#000 !important;
  border-bottom:1px solid #000;
}
h2.title a:link, h2.title a:visited {
    text-decoration: none;
}
h2.title a:hover, h2.title a:active {
    text-decoration: none;
    color:#444;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 90%;
}

h6 {
  font-size: 80%;
}

b, strong {
    font-weight: bolder;
}
i, cite, em, var, dfn {
    font-style: italic;
}
blockquote {
    background-color: #e3e3e3;
     border: 1px solid silver;
}
blockquote {
    color: #1B395B;
    line-height: 1.4em;
    margin: 0 0 1em;
    padding: 10px;
}
a, a:link, a:visited {
    color: #897600;
    text-decoration:underline;
}
a, a:hover, a:active {
    color: #897600;
    text-decoration:none;
}

div.status, table tr.ok {
    background-color: #ddd;    
}
div.status, .ok {
    color: #fff;
}
div.status {
    border-color: #fff;
    color:#000;
}
div.status a:link, div.status a:visited {
  color:#000;
}
div.status a:hover, div.status a:active {
  color:#000;
}
div.messages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
    color:#000;
     border: 1px solid silver;
}
div.messages a:link, div.messages a:visited {
  color:#000;
}
div.messages a:hover, div.messages a:active {
  color:#000;
}
div.error, table tr.error {
    background-color: #ddd;
}
div.error, .error {
    color: #000;
}
div.warning, table tr.warning {
    background-color: #ddd;
}
div.warning, .warning {
    color: #fff;
}
div.warning a:link, div.warning a:visited {
  color:#000;
}
div.warning a:hover, div.warning a:active {
  color:#000;
}
div.error {
    border-color: #fff;
     border: 1px solid silver;
}
div.warning {
    border-color: #fff;
    color:#000;
     border: 1px solid silver;
}
p code {
    background-color: #e3e3e3;
}
p code {
    border: medium none;
    color: #000;
    display: inline;
    margin: 0;
    padding: 0 0.2em;
}
ol {
  list-style: decimal;
}

ul {
  list-style: square;padding:0px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}
.clearfix:after { /* FF, O, etc. */
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block; /* IE7xhtml*/
}

html[xmlns] .clearfix { /* O */
	display: block;
}

* html .clearfix {
	height: 1%; /* IE5-6 */
}

body {

	color:black;
}

a {
	text-decoration:none;
	color:#515151;
}

a:hover { color:#444; }

/* header */
#header {
  height:140px;
	margin-bottom:20px;
}
h2.with-tabs {
  font-size:22px;
}
#navigation {
	float:right;
	text-align: right;
}
#navigation ul {
  margin-top:15px;
}
#navigation ul li {
	display:inline;
	margin-left:18px;
	font-size:15px;
	color:#8c8c8c;
	border:none;
	width:auto;
}
#navigation ul li a {
  text-decoration:none;
}
#navigation ul li.active-trail a {
  text-decoration:none;
  color:#000;
}
#navigation ul li a:hover {
  color:#000; 
}
#navigation a { color:#8c8c8c; }

#navigation a:hover, #navigation .current_page_item a  { color:#2E2E2E; }

#site-title {
	font-size:28px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight:normal;
	margin-bottom:0px;
	color:#fee82e;
}

#site-title a { 

  color:black;
  text-decoration:none;  
}

#site-title a:hover { color:#297ec1; }

#site-description {
	font-size:14px;
	font-weight:normal;
	color:#8c8c8c;
	margin-bottom:26px;
  font-style:normal;
}

#cat-menu {
	position:relative;
	text-align:right;
	height:20px;
}
#cat-menu ul {
  margin:0px;
  padding:0px;
}
#cat-menu ul li {
	font-size:13px;
	font-style:italic;
	display:inline;
	padding:0px 15px;
	position:relative;
	border:none;
}
#cat-menu ul li a {
  color:#fff;
  border:none;
  text-decoration:none;
  padding-top:3px;
}
#cat-menu ul li a:hover {
  color:#ccc;
}
#cat-menu a {
	position:relative;
	z-index:2;
	color:#3e3e3e;
}

ul.inline li {
  padding-left:0px;
  margin-left:0px!important;
}
.field-label {
  float:left;
  
}
.field-item {
  padding-right:10px;
  margin-bottom:10px;
}
div.links {
float:left;
width:100%;
margin-top:10px;
}
.region-content p {
  margin-bottom:20px;
}

.submitted {
margin:10px 0px;
display:block;
font-size:16px;
}
h2.nodetitle {
  margin:10px 0px;
}
.comment-published a {
  text-decoration:none;
  font-size:18px;
  font-weight:normal;
}
.feed-icon {
  float:left;
  margin:10px 0px;
}
th,td {
  border:1px solid silver;
  padding:5px;
}
div#content {
	padding-bottom:20px;
  float:left;

}
.pagetitle {
	font-weight:normal;
	font-size:18px;
	color:#2e2e2e;
	margin:0 0 8px 2px;
}

.post {
	padding:8px 8px 8px 0;
	float:left;
	width:460px;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	overflow:hidden;
}

.post.even {
	border-right:none;
	padding:8px 0 8px 8px;
}

.post .inner {
	height:262px;
	overflow:hidden;
}

/* sidebar */
div#sidebar {
	float:right;	
}


/* footer */
div#footer {
	font-style:italic;
	margin-bottom:9px;
	display: block;
	overflow: hidden;
}

#footer p {
	color:#9c9c9c;
}
#footer ul li {
  text-decoration:none;
}
#footer ul li a {
  text-decoration:none;
}
#footer-block {
	background:#f4f4f4;
	padding:5px;
	border:1px solid #e2e2e2;
}
.region-primarynav {
  float:right;
  text-align:right;
}

.links inline li {
  float:left;
}

.last { 
 margin-right:0 !important; 
 margin-bottom: 5px !important;
}


.block h2 {
    color: #2E2E2E;
    font-style: normal;
    font-weight: normal;
    padding-top: 5px;
    font-size:24px;
}
.region-sidebar-first {
  border:1px solid #e4e4e4;
  width:200px;
  float:left;
  padding:10px;
  margin-bottom:20px;
}
.region-sidebar-first ul {
padding:0px;
margin:0px;
}
.region-sidebar-first ul li {
  color:#8c8c8c;
  margin:5px 0px;
  padding-bottom:5px;
  list-style:none;
  border-bottom:1px solid #ececec;
  width:200px;
  text-align:left;
}

.region-sidebar-first ul li a { 
  color:#8c8c8c;
  text-decoration: none;
  display:block;
  text-align:justify;
}

.region-sidebar-first ul li a:hover,.more-link a:hover{
	 color:#2E2E2E;
}
.region-sidebar-first p {
  color:#8c8c8c;
  margin:5px 0px;
  padding-bottom:5px;
  
}



div#footer-content {
	text-align:center;
	padding-top:14px;
	float:left;
}


.nodetitle {
  color: #CDBA17;
}
#footer {
  background:#fff url(../images/footer.png) repeat-x 0 0;
	height:auto;
	background-color: #E3E3E3;
		
}

ul.menu {
 border: none;
 margin-bottom:15px;
}

#top-search-wrap {
	float:right;
	 font-size:12px;
	 height:40px;
	 margin-top:30px;
	 text-align:right;
}
#top-search-wrap #search-theme-form {
 background:url("../images/search_box.png") no-repeat top left;
 height:27px;
 width:258px;
 padding-top: 2px;
 position:relative;
 padding: 0 0 0 10px;
}
#top-search-wrap input[type="text"]{
  background:url("../images/search_box.png") no-repeat top left;
	width:250px;
	height:28px;
	margin: 0;
	padding:0px;
	outline: none;
	border:none;
	padding:0px 5px;
}
 button#top-search-wrap, #top-search-wrap input[type="image"]{
	width:41px;
	height:27px;
	padding:0px;
	border:none;
	position:absolute;
	cursor:pointer;
	top:-6px;
	right:0px;
}
.footer-block {
	padding: 10px 0 0 0;
}

.sitelogo {
  margin-top:24px;
}
.region-footer1 {
  text-align:left;
  float:left;
}
.region-footer1 ul {
  padding:0px;
  margin:0px;
  list-style-type:none;
}
.region-footer2 {
  text-align:left;
  float:left;
}
.region-footer2 ul {
  padding:0px;
  margin:0px;
  text-decoration:none;
  list-style-type:none;
}
.region-footer3 {
  text-align:left;
  float:left;
}
.region-footer3 ul {
  padding:0px;
  margin:0px;
  list-style-type:none;
}
.region-footer3 p {
  text-align:left;
}
.region-sidebar-first h2 {
  border-bottom:1px solid #ddd;
  margin-bottom:10px;
  font-size:20px;
}
.region-secondarymenu ul.menu {
  text-align:right;
}
.nodetitle h2 {
  border:none;
}
#footer h2 {
  border-bottom:1px solid #444;
  font-size:20px;
}
#footer ul li {
  list-style-type:none;
}
.footer_zyxware {
  position:absolute;
  right:0px;
  bottom:10px;
  font-size:8px;
  text-align:right;
  color:#8C8C8C;
  margin-right:10px;
  overflow:hidden;
}
.footer_zyxware a:link,.footer_zyxware a:visited {
  color:#8C8C8C;
  text-decoration:none;
}
.post-tags .field-item {
  float:left;
  margin-right:5px;
  margin-bottom:15px; 
   background-color: #DDDDDD;
  border-radius:10px;
  color: #CD4517;
  display: block;
  text-shadow: 0 1px 0 #FFFFFF;
  padding:0px 5px 5px 5px;
  margin:20px 5px 10px 0px;
  
}
.post-tags .field-item:hover {
   background-color:#999999;
  border-radius:10px;
  color: #CD4517;
  display: block;
  text-shadow: 0 1px 0 #FFFFFF;
  padding:0px 5px 5px 5px;
  
}

.post-tags{
 float:left;
 width:580px;
}
.post-tags a{
	color:#CDBA17;
	text-decoration: none;
	font-size:12px;
	display:block;
	padding:3px 2px 1px 2px;
}

.post-tags .field-label {
  display:none;
}
.node {
    padding-bottom:30px;
    border-bottom:1px solid silver;
}
.block li {
  border:none;
}
.node .field-type-image img {
  float:left;
  margin-right:10px;
  margin-bottom:10px;
}
.node .field-item p {
  display:inline;
}
#nav {
  margin-left:auto;
  margin-right:auto; 
  float:right;
}

#nav ul {
    /*float: left;*/
    padding-bottom: 0px;
    padding-left: 15px;
    margin-left:40px;
    list-style-type: none;
    padding-right: 15px;
    padding-top: 0px;margin-top:20px;
}
#nav li {
    float: left;
    font-weight: 400;
    list-style-type: none;
}
#nav li a {
  /*font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat";*/
  font-size: 15px;
  font-weight: normal;color: #8C8C8C;
  display: block;
  padding: 5px 10px 10px 10px;
  position: relative;
  text-decoration: none;
}
#nav li a:hover, #nav li a:active, #nav a.active {
    color: #000000;
}
#nav li a .sf-sub-indicator {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    text-indent: -9999px;
}
#nav li li a, #nav li li a:link,#nav li li a:visited {
    background-color: #12263B;
    border-top-width: 0;
    color: #E7E7E7;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    text-transform: none;
    width: 140px;
}
#nav li li a:hover, #nav li li a:active {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #01152A;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    
    background-size: auto auto;
    color: #FFFFFF;
}
#nav li ul {
    height: auto;
    left: -9999px;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    width: 160px;
    z-index: 9999;
}
#nav li ul a {
    width: 160px;
}
#nav li ul ul {
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 0;
    margin-top: -40px;
}
#nav li:hover > ul, #nav li.sfHover ul {
    left: auto;
}
#nav ul li.leaf, #nav ul li.expanded, #nav ul li.collapsed {
    list-style-image: none !important;
    list-style-position: outside;
    list-style-type: none;
}
#nav ul.menu li {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#nav li.expanded, #nav li.collapsed, #nav li.leaf {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    /*padding-bottom: 10px;*/
    padding-left: 0;  
    padding-right: 0;
    padding-top: 0;
    z-index:1000;
}
#nav li li a,
#nav li li a:link,
#nav li li a:visited {
  background-color: #E1E1E1;
  color:#000000;
  opacity:0.8;
}

#nav li li a:hover,
#nav li li a:active {
  background: #292929;color:#ffffff;
}



